Checks: '-*,
        bugprone-*,
        cert-*,
        cppcoreguidelines-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -misc-non-private-member-variables-in-classes,
        -misc-include-cleaner,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -zircon-*
'
WarningsAsErrors: ''
FormatStyle: 'none'
HeaderFilterRegex: '^(app|lib)/'
